h2{
    text-align: center;
    font-weight: 300;
    color: rgb(34,61,138);
    padding-top: 50px;
    margin-bottom: 40px;
    font-size: 50px;
}

section.descripcion{
    margin-top: 45px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    text-align: center;
    line-height: 35px;
}

.detalle{
    text-align: left;
    color:black;
    padding-left: 10px;
    padding-right: 50px;
    margin-top: 18px;
    margin-bottom: 50px;
    line-height: 90%;
}

.proyecto{
    margin-left: 260px;
    margin-right: 80px;
    border-width: 3px;
    border-radius: 5%;
    border: 1px solid rgb(34,61,138);
    width: 25%;
    height: 20%;;
}

.bloque{ 
    padding: 15px;
    margin: 0;
}

.contenedor{
    margin-left: 80px;
}

div.datos-proyecto{
    text-align: center;
    color: #fff;
    line-height: 25px;
    margin-bottom: 0.2px;
}

.brand-versiculo-proyecto{
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    color: #fff;
    margin-bottom: 1px;
}